# Calculating Average of Numbers Using Functions

In [ ]:
def calculate_average(numbers):
    average = sum(numbers) / len(numbers)
    return average
list1 = [1, 2, 3, 4, 5]
average = calculate_average(list1)
average # 15/5

3.0

# Finding the Longest Word in a List

In [ ]:
def find_longest_word(words):
    longest_word = ""
    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word
list_of_words = ["apple", "yaloow_banana", "cherry", "date"]
longest_word = find_longest_word(list_of_words)
longest_word

'yaloow_banana'

# Checking if a Number is Prime

In [ ]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
number = 17
is_prime(number)

True

# Converting Temperature Units

In [ ]:
def convert_to_fahrenheit(temperature):
        fahrenheit = (temperature * 9/5) + 32
        return fahrenheit
def convert_to_celsius(temperature):
        celsius = (temperature - 32) * 5/9
        return celsius

temperature1 = 40
temperature_fahrenheit = convert_to_fahrenheit(temperature1)
print(temperature_fahrenheit)
temperature_celsius = convert_to_celsius(temperature1)
print(temperature_celsius)

104.0
4.444444444444445

# Generating a List of Squares Using List Comprehension and Functions

In [20]:
def generate_squares(n):
    squares = [x**2 for x in n]
    return squares
number = [2,4,6,8]
squares = generate_squares(number)
squares

[4, 16, 36, 64]

# Converting a List of Strings to Uppercase

In [ ]:
def convert_to_uppercase(strings):
    uppercase_strings = [string.upper() for string in strings]
    return uppercase_strings
list_of_strings = ["apple", "banana", "cherry"]
uppercase_strings = convert_to_uppercase(list_of_strings)
uppercase_strings

['APPLE', 'BANANA', 'CHERRY']

# Calculating the Total Price Including Tax

In [ ]:
def calculate_total_price(price, tax_rate):
    total_price = price + (price * tax_rate)
    return total_price
price = 100
tax_rate = 0.1
total_price = calculate_total_price(price, tax_rate)
total_price

110.0

# Finding the Minimum and Maximum Values in a List

In [ ]:
def find_min_max(numbers):
    min_value = min(numbers)
    max_value = max(numbers)
    return min_value, max_value
list_of_numbers = [5, 2, 9, 1, 7]
min_value, max_value = find_min_max(list_of_numbers)
min_value, max_value

(1, 9)

# Checking if a String is a Valid Email Address

In [ ]:
def is_valid_email(email):
    if "@" in email and "." in email:
        return True
    else:
        return False
mail1 = 'mahmoudsayd214@gmail.com'
mail2 = 'mahmoudsaydgmail'
print(is_valid_email(mail1))
print(is_valid_email(mail2))

True
False

# Counting the Frequency of Each Character in a String

In [ ]:
def count_character_frequency(string):
    frequency = {}
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency
string = "hello"
frequency = count_character_frequency(string)
frequency

{'h': 1, 'e': 1, 'l': 2, 'o': 1}